.remains-contlog-row {
    display: grid;
    background-color: white;
    margin-bottom: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px repeat(5, 25px);
}

.head-title-remains {
    display: grid;
    background-color: lightblue;
    margin-bottom: 0.5em;
    grid-template-columns: repeat(5, 1fr);
}

.remains-title-child {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
    align-self: center;
    margin-top: 0.5em;
}

.title-child {
    justify-self: center;
    align-self: center;
}

.title-text-child {
    justify-self: center;
    align-self: center;
}

.rem-icon {
 margin-right: 0.2em;
}

.sticky-title {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.sticky-first-row {
    position: sticky;
    top: 54px;
}

.first-row {
    display: grid;
    background-color: lightyellow;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 6;
}

.cel-1 {
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: center;
    align-self: center;
}

.cel-2 {
    grid-row-start: 1;
    grid-column-start: 4;
    justify-self: center;
    align-self: center;
}

.cel-3 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: start;
    align-self: center;
    font-weight: bold;
    margin-left: 0.5em;
}

.move-contlog {
    grid-row-start: 1;
    grid-column-start: 5;
}

.move-contlog:hover {
    cursor: pointer;
}

.orient-start-center {
    justify-self: start;
    align-self: center;
    font-weight: bold;
    margin-left: 0.5em;
}

.orient-center-center {
    justify-self: center;
    align-self: center;
}

.cel-4, .cel-5, .cel-6, .cel-7, .cel-8,
.cel-9, .cel-10, .cel-11, .cel-12, .cel-13,
.cel-14, .cel-15, .cel-16, .cel-17, .cel-18,
.cel-19, .cel-20, .cel-21, .cel-22, .cel-23 {
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 700px) {
   .remains-contlog-row {
        display: grid;
        background-color: white;
        margin-bottom: 5px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 75px repeat(5, 25px);
    }
    .remains-title-child {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-self: center;
        align-self: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .title-text-child {
        display: none;
    }

    .sticky-first-row {
        position: sticky;
        top: 36px;
    }
}