
{% csrf_token %}

<button type="button"
        class="btn btn-outline-success btn-sm mt-1"
        value="xlsx"
        onclick="document.location='xlsx/'"
        id="xlsx">.xlsx</button>
<button type="button"
        class="btn btn-outline-success btn-sm mt-1 remains_sidebar"
        value="КОНТИНЕНТ"
        id="kontinent">КОНТИНЕНТ</button>
<button type="button"
        class="btn btn-outline-success btn-sm mt-1 remains_sidebar"
        value="Новокузнецк"
        id="Новокузнецк">Новокузнецк</button>
<button type="button"
        class="btn btn-outline-success btn-sm mt-1 remains_sidebar"
        value="Новосибирск"
        id="Новосибирск">Новосибирск</button>
<button type="button"
        class="btn btn-outline-success btn-sm mt-1 remains_sidebar"
        value="Абакан"
        id="Абакан">Абакан</button>
<button type="button"
        class="btn btn-outline-success btn-sm mt-1 remains_sidebar"
        value="Красноярск"
        id="Красноярск">Красноярск</button>
<button type="button"
        class="btn btn-outline-success btn-sm mt-1 remains_sidebar"
        value="Омск"
        id="Омск">Омск</button>