{% load static %}

{% if dsm %}
    <h3 id="{{ dsm }}" class="text-center city_header">{{ dsm }}</h3>
{% endif %}

{% if tsm %}
<h3 id="{{ tsm }}" class="text-center city_header">{{ tsm }}</h3>
{% endif %}

{% if esr %}
<h3 id="{{ esr }}" class="text-center city_header">{{ esr }}</h3>
{% endif %}

<div class="table-responsive">
    {{ df_coverage|safe}}
</div>
<br>
<h4 id="dont_work" class="text-center city_header mt-3 mb-3">Потенциальных ТТ для отгрузки: {{ dont_work }}</h4>

{% if not dsm %}
    <div class="accordion" id="accordionFlushExample">
      <div class="accordion-item mb-5">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Cписок не сработавших ТТ
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {{ df_tt|safe }}
          </div>
        </div>
      </div>
    </div>
{% endif %}

<script>
  $(function(){
    total_str = $('tbody>tr:last-child>td:first-child').text()
    if (total_str === 'ИТОГО'){
      $('tbody>tr:last-child').addClass('align-middle table-dark')
    }
  })
</script>

<script src="{% static 'colorTimeDynamics.js' %}"></script>
